/* Testimonials.module.css */
.testimonials {
    background-color: #f7f2f8; /* Light purple background */
    text-align: center;
    padding: 40px;
  }
  
  .mainTitle {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .testimonialContainer {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  .testimonialBox {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    position: relative;
    width: 30%; /* Adjust the width as necessary */
    min-height: 200px; /* Adjust the height as necessary */
  }
  
  .testimonialText {
    font-size: 1rem;
    font-style: italic;
    color: #666;
  }
  
  .author {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  .stars {
    color: #ffd700; /* Gold color for stars */
    font-size: 1.25rem;
    margin-top: 10px;
  }
  